# Fitnesse
FitNesse/fitnesse-standalone.jar
FitNesse/plugins
FitNesse/logs
FitNesse/FitNesseRoot
FitNesse/fixtures/
FitNesse/fixtures/
TestDir
properties
updateList
updateDoNotCopyOverList

# Maven/IDE
test-results/*
jsunit/*
agitar/*
dist/*
classes/*
test-classes/*
antlib/*
javadoc/*
.svn
.ssh
.sunw
.classpath
.project
.settings
*.zip
*.ipr
fitnesse.jar
.DS_Store
logs/*
target
*.iml
*.ipr
*.iws
*.komodoproject
.idea
*.pyc
desktop.ini
fitnesse_results.xml
**/myenv
